DB_URL=postgresql+psycopg2://<YOUR-USERNAME>:<YOUR-PASSWORD>@<HOSTNAME>:<PORT>/<YOUR-DB>
DB_URL_DEV=sqlite:///./test.db
DEBUG=TRUE
ALGORITHM=HS256
SECRET_KEY=uma-chave-secreta-super-segura
ACCESS_TOKEN_EXPIRE_TIME=4320
EMAIL_HOST=smtp.email.com
EMAIL_PORT=587
EMAIL_USERNAME=seu-email@example.com
EMAIL_PASSWORD=sua-senha-app
MP_ACCESS_TOKEN=YOUR-MERCADO-PAGOACCESS-TOKEN
BACKEND_URL=https://your-backend-url.com
FRONTEND_URL=https://your-frontend-url.com