DB_URL=postgresql+psycopg2://<YOUR-USERNAME>:<YOUR-PASSWORD>@<HOSTNAME>:<PORT>/<YOUR-DB>
DEBUG=TRUE
ALGORITHM=HS256
SECRET_KEY=uma-chave-secreta-super-segura
ACCESS_TOKEN_EXPIRE_TIME=4320
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=seu-email@example.com
SMTP_PASSWORD=sua-senha-app